html{
    margin: 0;
}

#button{
    background-color:  rgb(235, 0, 117);
    color:white;
    font-weight: bold;
    border-radius:20px;
    width: 150px;
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    
}

#learn{
    color: hotpink;
    background-color: white;
    border-radius:20px;
    width: 200px;
    border: 1px solid hotpink;
    font-weight: bold;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

#head{
    background: linear-gradient(rgba(253, 3, 128, 0.57), rgba(252, 5, 128, 0.57)), url('laptop.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    margin-top: 50px;
    padding: 200px;
    color: white;
    position: relative;
    margin-bottom: -20px;
    height: 500px;
}

#about{
    padding: 150px 0px 500px 200px;
    background-color: white;
    height: 500px;
    
}

.sub-about{
    width: 350px;
}

.span{
    color: hotpink;
    font-weight: lighter;
    font-size: 50px;
    padding-bottom: 50px;
}

#bt{
    background-color: rgb(235, 0, 117);
    color: white;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    border: 1px solid hotpink;
    border-radius: 40px;
    width: 150px;
    
}

.image{
    
    border-radius: 40px 250px 250px 40px;
    height: 250px;
    width: 300px;
    box-shadow: 5px 10px 18px #888888;
    position: relative; 
    background-size: 100% 100%;
    background-attachment: fixed;

}

.img-radius1{
    border: 6px solid hotpink;
    border-radius: 80px 250px 250px 80px;
    height: 250px;
    width: 300px;
    top: 200%;
    right: 5%;
    position: absolute;
    margin-left: 590px;
    background-size: 100% 100%;
    background-attachment: fixed;
  
}

#main{
    padding-bottom: 80px;
}

.image1{
    border-radius: 40px 250px 250px 40px;
    height: 250px;
    width: 300px;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#sub-main{
    padding: 100px;
}

.radius{
    border: 6px solid hotpink;
    border-radius: 80px 250px 250px 80px;
    height: 250px;
    width: 300px;
    top: 530%;
    position: absolute;
    margin-left: 130px;
    background-size: 100% 100%;
    background-attachment: fixed;
  
}

#dashboard{
    background-color: hsl(0, 0%, 88%);
    padding: 100px;
}

.image2{
    width: 500px;
    border-radius: 100px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    background-size: 100% 100%;
    background-attachment: fixed;
   
}

#dash{
    width: 800px;
   margin-left: 200px;
}

.reviews{
    padding: 50px;
}

img{
    /* border-radius: 500px; */
    height: 50px;
    width: 100px;
    margin: 0px 50px;
    box-shadow: 5px 10px 18px #888888; 
    background-size: 100% 100%;
    background-attachment: fixed;

}

.rev{
    padding: 80px;
    width: 500px;
    font-weight: lighter;
}

.sub-reviews1{
  
    margin-left: 90px;
    border: 3px solid #ccc;
    border-radius: 10px;
    text-align: justify;
    margin-top: 35px;
    padding: 50px ;
    box-shadow: 5px 10px 18px #888888;
}

.name{
   
    margin-left: 54px;
}

.desig{
    margin-left: 64px;
}

#sign{
    background-color: rgb(240, 25, 211);
    height: 150px;
}

.notify-text{
    background: linear-gradient(rgba(245, 19, 188, 0.5), rgba(241, 238, 20, 0.5));
    padding: 50px 100px 0px 100px;
    height: 150px;
    font-size: 30px;
    font-weight: lighter;
}

.signup{
    margin: 0px 0px 0px 100px;
    background-color: white;
    border-radius: 40px;
    width: 150px;
    padding: 10px;
    color: hotpink;
    font-size: medium;
}

form{
    float: left;
    width: 100px;
}

.form{
    background-color: black;
    opacity: transparent;
    color: white;
    max-width: 2000px;
    padding: 10px 100px 10px 100px;
    opacity: 0.9;   
    background-repeat: no-repeat;
    background: linear-gradient(rgba(8, 8, 8, 0.5), rgba(12, 11, 12, 0.945)), url('laptop.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; 
    padding: 100px 30px 500px 200px;
    height: 500px;
    font-weight: lighter;
    font-size: 25px;
}

label{
    width: 300px;
}

input, textarea{
    background-color: lightgrey;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
}

.row1{
    padding: 0px;
    font-weight: lighter;
    font-size: 25px;
}

.button{
    width: 300px;
    background-color: hotpink;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

footer li{
    float: left;
    list-style-type: none;
}

footer h1{
    margin: 0px 0px 0px 415px;
    padding:20px 0px 0px 200px ;
    color: palevioletred;
    font-weight: lighter;
    font-size: 50px;
}

.foot{
    margin: 5px 0px 20px 0px;
}

.foot-data{
    text-align: center;
}

.col{
    width: 1300px;
}

#col1{
    margin-top: 50px;
   
}

#heart{
    color: red;
}

#li-foot-1{
    margin: 50px 0px 0px 50px;
    font-size: 40px;
    color: black;  
}

#li-foot-2{
    margin: -80px 0px 0px 890px;
    font-weight: bold;
    font-size: 20px;
    color: grey; 
}

.foot-li{
    padding: 10px;
}

@media only screen and (max-width: 320px) {
    .col-sm-12 {   
      width: 100%;
      padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    
    .img-radius1{   
        margin-top:500px;
        bottom: 200%;
        left: -50%;
    }

    .radius{
        top: -100%;
        margin-top: 630px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .image{
        margin: 50px;
    }

    .image1{
        margin-top: -902px;
    }

    #main{
        margin-top: 300px;
    }

    #sub-main{
        margin-top: 600px;
        width: 1000px !important;
        margin-left: -300px !important;
       
    }

    #about{
        margin-left: -200px;
    }

    body{
        margin-right: -145px !important;
        left: -100%;
    }

    #dashboard{
        margin-left: -250px;
    }

    .image2{
        margin-left: 250px;
    }

    .notify-text{
        padding: 43px 8px 0px 53px !important;
    }

    .card{
        border: none;
    }
}

@media only screen and (max-width: 1440px) {
    .img-radius1{   
       top:210%;
       bottom: 200%;
   }

   .radius{
       top: 600%;
       left:2%;
   }

}
@media only screen and (max-width: 1440px){
    body {
        margin-right: -61px;
    }
}
